version: "3"
services:
  backend:
    container_name: dev_grup_demo_backend
    build: .
    environment:
      DATABASE_URL: mysql2://root@db:3306/gruf_demo_development?reconnect=true
    volumes:
      - ./:/app
    ports:
      - "10541:10541"
    links:
      - db
    stdin_open: true
    tty: true
    networks:
      - dev_grup_demo_network
    env_file:
      - .env
    working_dir: /app
    # command:
    #   - /bin/bash
    #   - -c
    #   - bundle exec gruf

  db:
    container_name: dev_grup_demo_db
    image: mysql:8.0.32
    command: >
      mysqld
        --default-authentication-plugin=mysql_native_password
        --character-set-server=utf8mb4
        --collation-server=utf8mb4_general_ci
    ports:
      - "3306:3306"
    volumes:
      - dev_grup_demo_db_volume:/var/lib/mysql
    networks:
      - dev_grup_demo_network
    security_opt:
      - seccomp:unconfined
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: gruf_demo_development
      # MYSQL_USER: mysqlusername
      # MYSQL_PASSWORD: mysqluserpass
      # MYSQL_ROOT_PASSWORD: mysqlrootpass

volumes:
  dev_grup_demo_db_volume:
networks:
  dev_grup_demo_network:
